# ==============================================================================
# INSTRUCTIONS: Copy this file to .env and replace the placeholder values below.
# ==============================================================================

# --- Elasticsearch & Kibana ---
ES_PORT=9200
KIBANA_PORT=5601
# Limit memory (adjust based on your system limits)
ES_JAVA_OPTS=-Xms2g -Xmx2g

# Local Hardware Overrides
CELERY_CONCURRENCY=2

# --- Project Settings ---
DOCKER_ES_HOST=elasticsearch
DOCKER_REDIS_HOST=redis